@use '../../assets/fonts/fonts_list' as *;

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--decoration-color);
	margin-top: 107px;
	position: relative;
}

.container::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 1px;
	background-color: var(--line-color);
}

.heading {
	@include font($sfpro, 146px, 146px);
	margin: 0;
	padding: 232px 0 46px;
}

.text {
	@include font($sfpro, 28px, 36px);
	margin: 0;
}
