@font-face {
	font-family: 'Lora-Bold';
	src: url('./Lora/Lora-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'SFPro-Heavy';
	src: url('./SFPro/SFPro-Heavy.ttf');
}

@font-face {
	font-family: 'SourceSansPro-Regular';
	src: url('./SourceSansPro/SourceSans3-VariableFont_wght.ttf');
}
